.flex-container {
  display: flex;
  flex-wrap: wrap;
  background: radial-gradient(circle farthest-corner at center center, #43280e 0%, #381a07 100%);;
  justify-content: space-around;
  height: 1000px;
}

.flex-container> div{
  width: 200px;
  height: 200px;
  margin: 20px;
  text-align: center;
  font-size: 30px;
  color: rgb(72, 32, 6);
  background-color: rgb(151, 101, 60);
}

h1 {
  text-align: center;
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  height: 50px;
}

#div1 {
  background-image: url(afig1.jpg);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}

#div2 {
  background-color:peachpuff;
  color: palevioletred;
  background-image: url(afig2.jpg);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}



#div3 {
  background-color: pink;
  color: plum;
  background-image: url(afig3.jpg);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;

}

#div4 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px; 
}

#div4 button{
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border-color: beige;
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  font-size: large;
  font-variant: small-caps;
  
}

#div5 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px; 
  border-radius: 50px;
}

#div5 button{
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  border-color: beige;
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
  font-size: large;
  font-variant: small-caps;
  
}

#div6 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px; 
  border-radius: 50px;
}
  

#div6 button{
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  border-color: beige;
  font-variant: small-caps;
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
  font-size: large;
  font-variant: small-caps;
}

#div7 {
  background-color: palevioletred;
  color: hotpink;
  background-image: url(afig4.jpg);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}

#div8 {
  background-color: pink;
  background-image: url(afig5.jpg);
  background-size: 300px 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}

#div9 {
  background-image: url(afig6.jpg);
  background-size: 300px;
  height: 300px;
  width: 300px;
  border-radius: 40px;
}

#div10 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
}

#div10 button{
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border-color: beige;
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  font-size: large;
  font-variant: small-caps 
}

#div11 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
}

#div11 button {
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border-color: beige;
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  font-size: large;
  font-variant: small-caps 
}

#div12 {
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  background-size: 300px 50px;
  height: 50px;
  width: 300px;
  border-radius: 50px;
}

#div12 button{
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border-color: beige;
  background-color: rgb(151, 101, 60);
  color: rgb(72, 32, 6);
  font-size: large;
  font-variant: small-caps 
}



h1{
  text-align: center;
}

body{
  margin: 0px;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}

.navbar{
  list-style-type: none;
  background-color: rgb(78, 59, 18);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: rgb(171, 153, 122);
  text-decoration: double;
  padding: 10px;
  display: block; 
  text-align: center;
}

.navbar a:hover{
  background-color: rgb(57, 45, 7);
}

.navbar li{
float: left;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}




 







