.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr); ;
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    
}

#div1 {
    background-color:orange;
    grid-column: 1/4;
    grid-row: 1/3 ;
}

#div2 {
    background-color:orange;
    grid-column: 4/7;
    grid-row:  1/3;
}


#div3 {
    background-color:yellow;
    grid-column: 1/3;
    grid-row: 3/7;
}

#div4 { 
    background-color:lightblue;
    grid-column: 3/5;
    grid-row: 3/5;
}

#div5 {
    background-color:lightblue;
    grid-column: 3/5;
    grid-row: 5/7;
}

#div6 {
    background-color:yellow;
    grid-column: 5/7;
    grid-row: 3/7;
}

#div7 {
    background-color:beige;
    grid-column: 1/5;
    grid-row:  7/8;
    text-align: center;
}

#div8 {
    background-color:beige;
    grid-column: 1/5;
    grid-row: 8/9; 
    text-align: center;
}

#div9 {
    background-color:beige;
    grid-column: 1/5;
    grid-row: 9/10;
    text-align: center;
     
}

#div10 {
    background-color:beige;
    grid-column: 1/5;
    grid-row: 10/11;
    text-align: center;
    
}

#div11 {
    background-color:firebrick;
    grid-column: 5/7;
    grid-row: 7/11; 


}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(75, 70, 70);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
nav.navbar ul a{ 
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(0%, 0%, 10%);
}
.navbar li{
    float: left; 
}


.parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.box {
    width: 400px;
    height: 100px;
    margin: 20px;
    border: 1px solid #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .nav-logo {
    height: 60px; 
    width: auto;
    float: right;
  }
