h1{
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: black
}
h2{
    text-align:  center;
color: black
}
h3{
    text-align: center;
color: black
}
h4{
    text-align: center;
color: black
}
h5{
    text-align:center;
color: black
}
h6{
    text-align: center;
color: black
}

p {
    color: bisque;
    
    background-color: rgb(14, 124, 214);
    margin: 30px;
    padding: 20px;
    border: solid 2px red
}
body {
    background-color: 
    margin 0px
}
main{
    margin-left: 20px;
    margin-right: 20px;
}




body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;

}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(75, 70, 70);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{ 
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    

}
.navbar li{
    float: left; 
}

.navbar {
    background-color: white;
}